<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <meta name="author" content="Andrê Reges">
    <meta name="reply-to" content="dreeh.silva@hotmail.com">
    <meta http-equiv="content-language" content="pt-br">
    <meta name="description" content="Hazime Sonne é uma empresa que atua no ramo de puericultura fabricante de chupetas, mamadeiras, bicos de chupetas e outros acessórios para bebês.">
    <meta name="keywords" content="bebê, criança, infantil, chupetas, higiene, hazime, sonne, mamadeira, bicos de mamadeira, produtos">

    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <div id="q-app"></div>
  </body>
</html>
